.solutions-section {
  min-height: 635px;
  background-image: url(../images/solutions-bg.jpg);
  position: relative;
  padding: 50px 0;
  .title {
    position: relative;
    margin-bottom: 60px;
    text-align: center;
    h2 {
      font-size: 34px;
      font-weight: 300;
      color: #fff;
      margin: 0;
      margin-bottom: 15px;
      margin-top: 0;
    }
    .subtitle {
      font-size: 18px;
      color: #acacac;
      font-weight: 300;
    }
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      width: 66px;
      height: 2px;
      margin-left: -33px;
      bottom: -30px;
      background: #ffbf51;
    }
  }
}
